# ================================
# .NET
# ================================
bin/
obj/
out/

# ================================
# Visual Studio / VS Code
# ================================
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# ================================
# Logs
# ================================
*.log

# ================================
# OS
# ================================
.DS_Store
Thumbs.db

# ================================
# Environment / Secrets
# ================================
appsettings.Development.json
appsettings.Production.json
.env

# ================================
# Rider
# ================================
.idea/
